<div class="jumbotron" id="content">
  <h1>About Grocery Store</h1>

  <p>
    A grocery store or grocer's shop is a retail shop that primarily sells food, either fresh or
          preserved. Large grocery stores stock significant amounts of non-food products, such as clothing and household
          items, blurring the line between grocery stores and supermarkets. In Canada, the United Kingdom, and the
          United States, supermarkets and convenience shops are sometimes described as grocery businesses, groceries or
          simply grocers.[note 1] Small grocery stores that mainly sell fruits and vegetables are known as greengrocers
          (Britain) or produce markets (U.S.), and small grocery stores that predominantly sell prepared food, such as
          candy and snacks, are known as convenience shops or delicatessens....</p>
        <p class="w3-large w3-text-grey w3-hide-medium">Beginning as early as the 14th century, a grocer (or "purveyor")
          was a dealer in comestible dry goods such as spices, peppers, sugar, and (later) cocoa, tea, and coffee.
          Because these items were often bought in bulk, they were named after the French word for wholesaler, or
          "grossier". This, in turn, is derived from the Medieval Latin term "grossarius",[2] from which the term
          "gross" (meaning a quantity of 12 dozen, or 144) is also derived.
  </p>

  <!-- <p>
    This project defines directory structure in an Angular application and it 
    is a working application. The code for this project can be found at 
    <a href="https://github.com/mathisGarberg/angular-folder-structure">
      https://github.com/mathisGarberg/angular-folder-structure
    </a>
  </p> -->
</div>