<div class="stl">
    <div class="container" style="width: 7cm;height:5cm">
        <div class="col">
            <h2>Details</h2><br>
            <div class="card" style="width: 25rem;">
                <carousel>
                    <slide>
                        <img src="https://c.pxhere.com/photos/5b/1f/orange_citrus_fruit_fruit_healthy_vitamin_c_frisch_half_vitamins-1199888.jpg!s"
                            alt="first slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="https://c.pxhere.com/photos/3a/c1/tangerines_fruit_citrus_fruit_healthy_vitamins_eat_orange_fruits-667222.jpg!s"
                            alt="second slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="https://c.pxhere.com/photos/56/23/orange_food_juicy_fruit_cut_into_slices_disc_fruits-1415928.jpg!d"
                            alt="third slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
                <div class="card-block">
                    <div align="center">
                        <h4 class="card-title">Orange</h4>
                        <p class="card-text">Price: $5
                            <br>
                            Navel Orange,imported from northern kashmir
                        </p>
                        <a [routerLink]="['/grocery/viewcart']" data-name="Lemon" data-price="5"
                            class="add-to-cart btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>