body { margin-top:-100px;
    margin-left: 250px;
    width: 50cm;
 
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: auto; right:0px;}
.pl-ziro { padding-left: 0px; }
.container{
    right:0px;
    
}