<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->

<body>
    <div>
        <div class="container"><br><br><br><br>
            <form class="form-container" [formGroup]="checkoutForm" (ngSubmit)="checkout()">
                <h2>Checkout</h2><br>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Payment Details
                                </h3>
                            </div>
                            <div class="panel-body">
                                
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">Enter First Name</label>
                                                <input placeholder="First Name" class="form-control" type="text"
                                                    formControlName="fName"
                                                    [ngClass]="{ 'is-invalid': submitted && myForm.fName.errors }">
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.fName.errors?.required">
                                                    Enter your fName.
                                                </div>
                                                <!-- <div class="invalid-feedback" *ngIf="submitted && myForm.fName.errors?.pattern">
                                                        Enter your fName
                                                      </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">Enter Last Name</label>
                                                <input placeholder="Last Name" class="form-control" type="text"
                                                    formControlName="lName"
                                                    [ngClass]="{ 'is-invalid': submitted && myForm.lName.errors }">
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.lName.errors?.required">
                                                    Enter your Last Name.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">Enter Mobile Number</label>
                                                <input placeholder="Mobile" class="form-control" type="text"
                                                    formControlName="Mobile"
                                                    [ngClass]="{ 'is-invalid': submitted && myForm.Mobile.errors }">
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.Mobile.errors?.required">
                                                    Enter your Mobile.
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.Mobile.errors?.pattern">
                                                    Enter Numbers Only
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">Enter Address</label>
                                                <input placeholder="Address" class="form-control" type="text"
                                                    formControlName="Address"
                                                    [ngClass]="{ 'is-invalid': submitted && myForm.Address.errors }">
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.Address.errors?.required">
                                                    Enter your Address.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">

                                                <label for="name">Street</label>

                                                <input placeholder="Street" class="form-control" type="text"
                                                    formControlName="Street"
                                                    [ngClass]="{ 'is-invalid': submitted && myForm.Street.errors }">
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.Street.errors?.required">
                                                    Enter your Street.
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="address-info">

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">

                                                    <label for="name">City</label>

                                                    <input placeholder="City" class="form-control" type="text"
                                                        formControlName="City"
                                                        [ngClass]="{ 'is-invalid': submitted && myForm.City.errors }">
                                                    <div class="invalid-feedback"
                                                        *ngIf="submitted && myForm.City.errors?.required">
                                                        Enter your City.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">

                                                    <label for="name">State</label>

                                                    <input placeholder="State" class="form-control" type="text"
                                                        formControlName="State"
                                                        [ngClass]="{ 'is-invalid': submitted && myForm.State.errors }">
                                                    <div class="invalid-feedback"
                                                        *ngIf="submitted && myForm.State.errors?.required">
                                                        Enter your State.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">

                                                    <label for="name">Zip</label>

                                                    <input placeholder="Zip" class="form-control" type="text"
                                                        formControlName="Zip"
                                                        [ngClass]="{ 'is-invalid': submitted && myForm.Zip.errors }">
                                                    <div class="invalid-feedback"
                                                        *ngIf="submitted && myForm.Zip.errors?.required">
                                                        Enter your Zip.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    
                                
                            </div>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#"> Cash On Delivery</a>
                            </li>
                        </ul>
                        <br />
                        <button class="btn btn-success btn-lg btn-block" type="submit"
                            (click)='checkout()'>Checkout</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->

    </div><br><br>
</body>