<div class="stl">
    <div class="container" style="width: 12m;">
        <!-- Main -->

        <div class="container" style="padding-top:100px;">
            <div>
                <h2>Items</h2><br>
            </div>
            <div class="row">
                <div *ngFor="let grocery of groceryList | async">
                    <img src="/assets/{{grocery.imageUrl}}">
                    <h4 class="card-title">{{grocery.name}}</h4>
                    <a [routerLink]="['/grocery/details']" data-name="Lemon" data-price="5"
                        class="add-to-cart btn btn-success">View
                        details</a>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">

                    </div>
                </div>
            </div>
        </div>
